@import "tailwindcss";

body {
    background-image: url("../../public/5520173.jpg");
    background-size: cover;
}

@layer components {
    .card {
        background-color: rgba(255, 255, 255, 0.1);
        border: solid 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }

}